<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>UpWork RSS Feed | Ekky Armandi</title>
        <link rel="icon" type="image/x-icon" href="/static/upwork_tile_logo_icon_167715.ico" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container d-flex justify-content-center my-5">
            <div class="row">
                <div class="main-container col-6 px-4 pt-4 me-2 rounded-3 border" style="width: 800px">
                    <div class="heading">
                        <div class="container-fluid d-flex justify-content-between align-items-end">
                            <h1 class="green-text">My Job Feed</h1>
                            <p class="text mb-2">
                                <span class="fw-semibold green-text" id="jobs-found" value="{{results}}">{{results}} Jobs Found</span>
                                <span>|</span>
                                <span
                                    ><a class="fw-semibold green-text" id="feed-profile" target="_blank" href="#" style="text-decoration: none"><i class="ps-1 pe-2 fa-solid fa-person-running"></i>Feed Profile</a></span
                                >
                            </p>
                        </div>
                        <hr class="mt-0" />
                    </div>
                    <div class="feeds">
                        {% for model in models %}
                        <div class="feed">
                            <p class="text mb-1 fw-semibold green-text" style="font-size: medium">{{model.category}}</p>
                            <h5 class="text mb-3"><a target="_blank" id="title" href="{{model.link}}">{{model.title}}</a></h5>
                            <p class="mb-1" id="budget">
                                <span class="fw-semibold">{{model.budget}}</span> -
                                <span class="timestamp" id="timestamp" timestamp="{{model.timestamp}}">{{model.timestr}}</span>
                            </p>
                            <p class="text-break">
                                {{model.description}}
                            </p>
                            <div id="tags">
                                {% for tag in model.tags %}
                                <div class="badge tag text py-2 px-2 my-1 rounded-pill d-inline-block" name="tag">{{tag}}</div>
                                {% endfor %}
                            </div>
                            <p class="text-end my-2"><i class="fa-solid fa-location-dot me-2" style="color: #b7b7b7"></i>{{model.country}}</p>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
                <div class="side-container col-2">
                    <div class="earning-container row pt-3 rounded-3 border">
                        <h4 class="green-text text-center">My Earnings</h4>
                        <div>
                            <hr class="my-0" />
                        </div>
                        <div style="min-height: 105px">
                            <table class="fw-semibold green-text m-2" hidden id="earning-table">
                                <tr>
                                    <td>in USD</td>
                                    <td>:</td>
                                    <td>
                                        <div class="badge" id="usd">$0</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>in IDR</td>
                                    <td>:</td>
                                    <td>
                                        <div class="badge" id="idr">Rp0</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IDR Rate</td>
                                    <td>:</td>
                                    <td>
                                        <div class="badge" id="usd_idr_rate">Rp0</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Avail Date</td>
                                    <td>:</td>
                                    <td>
                                        <div class="badge" id="avail_date">N/A</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <button class="side-container btn btn-success mt-2 text-light" id="update-earnings" onclick="getEarnings()">Update Earnings</button>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/requestEarnings.js"></script>
    <script src="/static/js/autoRequest.js"></script>
    <script src="/static/js/countTime.js"></script>
    <script src="/static/js/away.js"></script>
</html>